.NotificationModal {
    position: absolute;
    max-width: 480px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 0 8px 10px -6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e2e8f0;
    z-index: 9999;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.NotificationModal.Active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.NotificationModalCard{
    display:flex;
    flex-direction:column;
}

.NotificationModalHeader{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:18px 22px;
}

.NotificationModalHeader span{
    font-size:20px;
    font-weight:700;
    color:#1E293B;
}

.NotificaitonModalSeparationDivider{
    height:1px;
    background:#EEF2F7;
}
.NotificationModalBody{
    max-height:420px;
    overflow-y:auto;
}
.NotificationModalField{
    display: flex;
    border-top: 1px solid #F5F7FD;
    border-bottom: 1px solid #F5F7FD;
    align-items: center;
    gap: 16px;
    padding: 16px 22px;
    cursor: pointer;
    transition: .18s;
}

.NotificationModalField:hover{
    background:#F8FAFC;
}
.NotificationModalMarkIsRead{
    width: 10px;
    background: #176AFE;
    height: 10px;
    border-radius: 10px;
}
.NotificationModalFieldImage{
    width:46px;
    height:46px;
    min-width:46px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.NotificationModalTextContent{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.NotificationModalFieldContentTitle{
    color:#1E293B;
    font-size:15px;
    font-weight:600;
    line-height:1.2;
}

.NotificationModalFieldContentMessage{
    color:#64748B;
    font-size:14px;
    line-height:1.5;
}

.NotificationModalFooter {
    border-top: 1px solid #EEF2F7;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.NotificationModalFooterSpanHolder {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 20px;

    cursor: pointer;
    user-select: none;

    transition: background-color .18s ease;
}

.NotificationModalFooterSpanHolder:hover {
    background: #F8FAFC;
}

.NotificationModalFooterSpanHolder span {
    color: #2563EB;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    transition: color .18s ease;
}

.NotificationModalFooterSpanHolder:hover span {
    color: #1D4ED8;
}
.NotificationModalBody::-webkit-scrollbar {
    width: 6px;
}

.NotificationModalBody::-webkit-scrollbar-track {
    background: transparent;
    margin: 8px 0; 
}

.NotificationModalBody::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 100px; 
    transition: background 0.2s ease;
}

.NotificationModalBody::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; 
}
